*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: url('../imagens/banner4.png') center center no-repeat fixed; 
  /*   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;

}

button {
    cursor: pointer;
}


.bar {
    height: 300vh;
    width: 10vw;
    justify-content: center;
    color: whitesmoke;
    border-right: solid rgb(170, 168, 168) 3px;
    background-image: url('../imagens/snkbar.png');
    background-repeat: no-repeat;
    background-size: cover ;
    margin:0;
    
}

 .power{
    height: 50px;
}

.out{
    margin-top: 1400%;
    margin-left: 25%;
    border-radius: 50px;
    background-color: transparent;
}

 .bar p {
     font-size: 18px;
 }
 .bar h2 {
     margin-top: 20px;
 }




.container {
    display: flex;
    height: 100%;
    width: 100%;
  /*   background-image: url("../imagens/background01.png"); */
    background-size: cover;
    background-size: cover;
    
    
}

.q1{
  /*   background-color: rgba(224, 194, 194, 0.226);
     */
    height: 150vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
.ph2{
    margin-left: 30%;
    color: rgb(49, 25, 30);
    
}
.perso{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin-top: 8%;
    font-weight: 550;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgba(255, 235, 205, 0.534);
}
.perso img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
}
.eren {
    display: flex;
    margin-left: 9px;
    flex-direction: column;
    width: 33%;
}
.mikasa {
    display: flex;
    margin-left: 9px;
    width: 33%;
    flex-direction: column;
}
.armin {
    display: flex;
    margin-left: 9px;
    width: 33%;
    flex-direction: column;
}



.q5{
    display: flex;
    width: 90vw;
    font-weight: 600;
}


.video{
    justify-content:center;
    margin-top: 10%;
    margin-left: 25%;
}



.btn{
    display: flex;
    flex-direction: row;
    padding: auto;
    justify-content: center;
    margin: auto;
    margin-top: 8%;
    background-color: rgb(255, 167, 136);
    height: 26px;
    width: 300px;
    border-radius: 20px ;
    color: darkred;
    font-weight: 600;
    transition: 0.2s;
}

.btn:hover{
    display: flex;
    padding-top: 7px;
height: 35px;
width: 400px;
}

.mural{
    background-color:  rgb(255, 167, 136);
    color: darkred;
    border-radius: 20px;
    margin-top: 20px;
}


 #bt{
    height: 33px;
    width: 200px;
    border-radius: 22px 3px;
    background-image:url('../imagens/button.png');
    border-color: #996f2c;
    transition: 0.3s;
    margin-bottom: 20px;
    color: rgb(185, 68, 68);

    
}
#bt:hover{
    color: rgb(185, 68, 68);
    height: 40px;
    width: 250px;
    border-radius: 25px 5px;
    font-weight: 600;

}

.container .sorteio h2 {
    color: rgb(218, 194, 194);
    background-color: rgba(107, 34, 24, 0.787);

}

.container .sorteio p {
    color: rgb(218, 194, 194);
    font-weight: 600;
    background-color: rgba(107, 34, 24, 0.787);
    border-radius: 20px;
    

}

.container .sorteio{
   display: flex;
   margin-left: 30%;
   flex-direction: column;
   align-items: center;
}
.sorteio {
    margin-right: 20%;
} 